*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
body {
    overflow: hidden;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F26645;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    position: absolute;
    width: 100%;
    height: 100%;
}
nav a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
nav a:hover {
    color: rgb(51, 51, 51);
}
nav :nth-child(1) {
    top: 20px;
    left: 20px;
}
nav :nth-child(2) {
    transform: rotate(-90deg);
    transform-origin: right;
    top: 10px;
    right: 30px;
}
nav :nth-child(3) {
    transform: rotate(-90deg);
    transform-origin: left;
    bottom: 10px;
    left: 30px;
}
nav :nth-child(4) {
    bottom: 20px;
    right: 20px;
}
.cooming-soon p {
    font-size: 45px;
    color: rgb(51, 51, 51);
}
.arrow {
    padding: 50px 0px;
    display: flex;
}
.long {
    background-color: white;
    height: 10px;
    width: 150px;
    margin: 0px 10px;
}
.short {
    background-color: white;
    height: 10px;
    width: 75px;
    margin: 0px 10px;
}
.triangle {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    width: 40px;
    height: 50px; 
    background-color: white;
    transform: translateY(-20px);
    position: relative;
}
.triangle:before {
    position: absolute;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    content: '';
    width: 20px;
    height: 27px;
    background-color: #F26645;
    top: calc(50% - 14px);
    left: calc(50% - 13px);
}
.reverse {
    transform: scaleY(-1) scaleX(-1);
}

.move {
    animation: flow 1s infinite;
}
@keyframes flow {
    0% {background-color: rgb(51, 51, 51)};
    100% {background-color: white};
}
.arrow :nth-child(2) {
    animation-delay: .25s;
}
.arrow :nth-child(3) {
    animation-delay: .5s;
}
.arrow :nth-child(4) {
    animation-delay: .75s;
}
.black {
    background-color: rgb(51, 51, 51);
}
@media (max-width: 500px) {
    .long {
        width: 100px;
    }
    .short {
        width: 50px;
    }
  }