* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
@font-face {
  font-family: "Neue";
  src: url("Fonts/NeueHaasGroteskDisplay-Reg.otf");
  font-weight: normal;
}
body.pages {
  position: relative;
  background-color: #f26645;
  object-fit: cover;
  height: 100vh;
  font-family: "Neue";
  display: flex;
  justify-content: center;
  align-items: center;
}
button,
input,
textarea {
  outline: none;
  border: none;
}
nav.pages_menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
nav.pages_menu a {
  position: absolute;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
}
nav.pages_menu a:hover {
  text-decoration: underline;
}
nav.pages_menu :nth-child(1) {
  top: 20px;
  left: 20px;
}
nav.pages_menu :nth-child(2) {
  transform: rotate(-90deg);
  transform-origin: right;
  top: 10px;
  right: 30px;
}
nav.pages_menu :nth-child(3) {
  transform: rotate(-90deg);
  transform-origin: left;
  bottom: 10px;
  left: 30px;
}
nav.pages_menu :nth-child(4) {
  bottom: 20px;
  right: 20px;
}
nav a.active {
  text-decoration: underline;
}
/* FrontPage */
.front-page-bg {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Contacts */
.contacts-main h1 {
  color: white;
  font-size: 30px;
}
.contacts-main {
  z-index: 999;
}
.wpcf7 {
  color: white;
}
.form-container {
  display: flex;
  margin-bottom: 25px;
  width: 756.8px;
}
.form-container p {
  margin-right: 10px;
  margin-left: 10px;
}
.form-container input {
  height: 30px;
  width: 363px;
}
textarea.wpcf7-textarea {
  width: 756.8px;
  resize: none;
}
.wpcf7-submit {
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 30px;
}
.wpcf7-not-valid-tip {
  color: black;
}
.wpcf7-response-output {
  color: black;
}
.contacts-main h2 {
  color: white;
}
@media (max-width: 900px) {
  .form-container {
    width: auto;
  }
  .contacts-main input {
    width: 300px;
    margin-bottom: 25px;
  }
  .wpcf7-submit {
    width: 300px;
  }
  .contacts-main img {
    height: 20px;
  }
  textarea.wpcf7-textarea {
    width: 300px;
    margin-bottom: 25px;
  }
  .form-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;
  }
  .form-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-container-bottom p {
    display: flex;
    flex-direction: column;
  }
  .form-container p {
    margin: 0px;
  }
  .contacts-responsive {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contacts-responsive h2 {
    font-size: 14px;
  }
}
/* Swup */
/*.transition-fade {
  transition: 0.4s;
  opacity: 1;
}
html.is-animating .transition-fade {
  opacity: 0;
}*/

/* roadmap */
.tutorialModal {
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}
.tutorialModal p {
  margin-left: 50px;
  margin-right: 50px;
}

.infoBtn {
  position: absolute;
  top: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  animation: pulse 1s 3;
  transition: 0.33s;
}
.infoBtn:hover {
  transform: scale(1.5);
}
@keyframes pulse {
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 900px) {
  .infoBtn {
    display: none;
  }
}
.puff {
  display: none;
}
.c-map {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  height: 4px;
  width: 100vh;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  cursor: pointer;
  transform: translateY(-50%);
}
/** AGGIUNERE HOVER **/
.line-container .t {
  background-color: grey;
}
.line-container .t-reverse {
  background-color: grey;
}
.line {
  width: 100%;
  padding: 2px;
  transition: all 200ms ease-out;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.line-reverse {
  width: 100%;
  padding: 2px;
  transition: all 200ms ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t {
  position: absolute;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 40px;
  height: 50px;
  background-color: #f26645;
  transform: rotate(90deg);
  transition: all 200ms ease-out;
  z-index: 1;
}
.t-reverse {
  position: absolute;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 40px;
  height: 50px;
  background-color: #f26645;
  transform: rotate(-90deg) translateX(-4px);
  transition: all 200ms ease-out;
}

/* the project page */
.page_project_container {
  display: flex;
  flex-direction: column;
  margin: 0 250px;
  color: white;
  width: 100%;
}
.project_title {
  font-size: 30px;
  padding: 10px 0px;
  margin: 0px 30px;
  font-size: 35px;
}
.page_project_container > p {
  padding: 20px 0 5px 0;
  font-size: 25px;
  text-align: justify;
  margin: 0px 30px;
}
@media screen and (max-width: 1120px) {
  .page_project_container {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    color: white;
    width: 100%;
  }
  .project_title {
    font-size: 25px;
  }
  .page_project_container > p {
    font-size: 20px;
  }
  .page_project_container > img.img {
    max-width: 200px;
  }
}
/* end the project page css */

/* ARROWS */

.arrow {
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 0px;
  display: flex;
  transform: translateY(50%);
  /*animation: move 1s infinite;*/
}
.long {
  background-color: #f26645;
  height: 10px;
  width: 35%;
  margin: 0px 10px;
}
.short {
  background-color: #f26645;
  height: 10px;
  width: 17.5%;
  margin: 0px 10px;
}
.triangle {
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  width: 40px;
  height: 50px;
  background-color: #f26645;
  transform: translateY(-20px);
  position: relative;
}
.triangle:before {
  position: absolute;
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  content: "";
  width: 20px;
  height: 27px;
  background-color: #f26645;
  top: calc(50% - 14px);
  left: calc(50% - 13px);
}
@media (max-width: 900px) {
  .arrow {
    margin-top: 0;
    margin-bottom: 0;
  }
  .arrow.reverse {
    display: none;
  }
  .long {
    height: 5px;
    width: 60px;
  }
  .short {
    height: 5px;
    width: 40px;
  }
}
.reverse {
  transform: scaleY(-1) scaleX(-1) translateY(50%);
  /*animation: move_reverse 1s infinite;*/
}
.show {
  transform: translateX(20px);
  background-color: white;
  transition: 1s;
}
.show_triangle {
  transform: translateX(20px) translateY(-20px);
}
/*.arrow :nth-child(1) {
  animation: move 1s infinite ease;
}
.arrow :nth-child(2) {
  animation: move 1s infinite ease;
  animation-delay: .25s;
}
.arrow :nth-child(3) {
  animation: move 1s infinite ease;
  animation-delay: .5s;
}
.arrow :nth-child(4) {
  animation: move_triangle 1s infinite ease;
  animation-delay: .75s;
}
.reverse :nth-child(1) {
  animation-delay: 1s;
}
.reverse :nth-child(2) {
  animation-delay: 1.25s;
}
.reverse :nth-child(3) {
  animation-delay: 1.5s;
}
.reverse :nth-child(4) {
  animation-delay: 1.75s;
}
@keyframes movej {
  50% {background-color: #2d2d2d};
  100% {background-color: white};
}
@keyframes move {
  50% {transform: translateX(20px); background-color: white};
  100% {transform: translateX(0)};
}
@keyframes move_triangle {
  50% {transform: translateY(-40%) translateX(20px); background-color: white};
  100% {transform: translateY(-40%) translateX(0)};
}/*
@keyframes move_3 {
  50% {transform: translateX(30px)};
  100% {transform: translateX(0)};
}
/*@keyframes move_reverse {
  50% {transform: scaleY(-1) scaleX(-1) translateY(50%) translateX(30px)};
  100% {transform: scaleY(-1) scaleX(-1) translateY(50%) translateX(0)};
}*/
/* @media (max-width: 600px) {
  .long {
    width: 100px;
  }
  .short {
    width: 50px;
  }
} */
/* END ARROWS */

/* SINGLE MENU */
body.single {
  background-color: whitesmoke;
}
nav.single_menu {
  display: flex;
  justify-content: flex-end;
}

nav.single_menu ul {
  position: static;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
}
nav.single_menu ul li {
  list-style: none;
  padding: 10px 20px;
}
nav.single_menu ul li a {
  text-decoration: none;
  color: #2d2d2d;
  font-family: "Neue";
}
nav.single_menu ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 900px) {
  nav.single_menu ul {
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}
.laygridder-header {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr 1fr;
  padding: 40px;
  height: 30vh;
  font-family: "Neue";
  font-weight: bold;
  font-size: 42px;
}
.decorative_line {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decorative_line span {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #f5f5f5, #f26645);
  transform: rotate(28deg);
}
.name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  /* justify-content: flex-start;
  align-items: center;
  margin-left: -20px; */
  margin-left: 25px;
}
.number {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  margin-left: 25px;
  /* justify-content: center; */
  align-items: center;
}
.km {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 95px;
}

@media (max-width: 900px) {
  .laygridder-header {
    margin-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .decorative_line {
    display: none;
  }
  .number {
    color: #f26645;
  }
}

/** SPAZIO PER LAYGRIDDER**/

.griglia_immagini {
  margin: 40px;
}
div p._Coordinates {
  margin-top: 10px;
  font-family: "Neue";
  cursor: pointer;
}
._Coordinates:hover {
  text-decoration: underline;
}

@media (max-width: 900px) {
  .griglia_immagini {
    margin-right: 0px;
    margin-left: 0px;
  }
}

/** FOOTER SINGLE **/

.footer-gallery p {
  text-align: center;
  font-family: "Neue";
  font-size: 32px;
  padding: 20px;
  font-weight: bold;
}
span.triangle {
  background-color: #2d2d2d;
  display: inline-block;
  margin: 0px 20px;
  transform: scale(-1);
}
.footer-gallery p span.triangle:before {
  background-color: whitesmoke;
}
.footer-gallery :nth-child(3) {
  font-size: 24px;
}
.footer-gallery p a {
  text-decoration: none;
  color: #2d2d2d;
}
.footer-gallery p a:hover {
  text-decoration: underline;
}
